*{

}
body {
    margin: 0;
    background: #62374e;
  }
  
  
  
  .box {
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    
  }
  .box span {
    width: 50px;
    height: 50px;
    background: #fdc57b;
    align-self: center;
    margin: 50px;
  }
